<!DOCTYPE html>
<html>
  <head>
    <title>Websocket Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="1st Korea Node.js Conference ::: @nanhapark presentation one of playtools">
    <meta name="author" content="nanhapark <nanhap@gmail.com>">
    <meta name="keywords" content="node.js,javascript,ECMAScript,Mobile,HTML5,Mobile,Web,nanhapark">
    <link media="screen" rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Play" />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/docs.css?20131222" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico?20121120" type="image/x-icon">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active">
            <a href="/">#PlayNode</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="jumbotron masthead">
      <div class="container">
        <div class="header">
          <h1>Websocket Service</h1>
          <p>Remote Control / PC to Mobile</p>
        </div>
        <p>
          <a href="/1" class="btn btn-primary btn-large">Navigator</a>
          <a href="/2" class="btn btn-danger btn-large">P2M</a>
        </p>
        <ul class="masthead-links">
          <li><a href="https://twitter.com/nanhapark" class="twitter-follow-button" data-show-count="true" data-lang="ko">@nanhapark 팔로우하기</a></li>
          <li><a href="https://twitter.com/intent/tweet?screen_name=nanhapark" class="twitter-mention-button" data-lang="ko" data-related="nanhapark">Tweet to @nanhapark</a></li>
        </ul>

      </div>
    </div>
    <div class="container">
      <div class="marketing">
        <h1>Introducing Service</h1>
        <div class="fb-like" data-href="https://www.facebook.com/ShareITTech" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&appId=1464364263790613";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <p class="marketing-byline">
          <ol>
            <li><span class="badge badge-info">Navigator</span> HTML5 으로 제작된 PPT 를 발표시에 <span class="badge badge-success">포인터</span>가 없을때
            <li><span class="badge badge-important">P2M</span> PC 로 보고 있는 화면을 <span class="badge badge-success">Mobile</span> 로 보고 싶을때
            <ul>
              <li>브라우저 주소의 길이가 너무 길때
              <li>맥에서 모바일로 <span class="label label-important">결제</span>하고 싶을 때
            </ul>
          </ol>
        </p>

        <h1>추천 관련글</h1>
        <div id="recommend-article"></div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Author: <a href="http:/twitter.com/nanhapark">@nanhapark</a>, <a href="http://about.me/nanha">about me</a></p>
        <ol>
          <li><a href="http://nodeqa.com">NodeQA :: Node.js 입문자님을 위한 모든 것</a></li>
          <li><a href="http://nodeman.org">NodeMan :: Websocket Service (Navigator / P2M)</a></li>
          <li><a href="http://readtrend.com">read tech-trend</a>
          <li><a href="http://manual.nodeman.org">manual.nodeman :: node.js 알짜배기 문서를 제공하는데 목적 <b>npm install nodeman -g</b></a></li>
          <li><a href="http://black.nodeman.org">Node.js Black Edition :: Node.js 를 알리는 노이즈 마케팅 패키지 입니다. Node.js가 기억속에서 사라지지 않도록 널리 알리는 목적</a></li>
          <li><a href="http://messenger.nodeqa.com">Node.js Messenger</a>
          <li><a href="http://chat.nodeqa.com">Node.js Chatting</a>
        </ol>
        <p>KIN Programming</p>
        <a href="http://kred.com/nanhapark" target="_blank"><img src="/images/kred.png" style="width:200px; border:0px;"/></a>
      </div>
    </footer>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37569422-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- Websocket P2M Service http://nodeman.org -->
    <style>
      #socket_nodeman_qrcode {
        position: absolute;
        top: 60px;
        right: 0px;
        z-index: 1000;
        width: 120px;
        height: 120px;
      }
    </style>
    <div id="socket_nodeman_qrcode"></div>
    <script src="http://nodeman.org/p2m.js"></script>
    <script>
      window.nodeman.callback = function() {
        console.log('callback');
      };
    </script>
    <!-- Websocket P2M Service End -->

    <!-- bread trend -->
    <script src="http://b.readtrend.com/j/r.js"></script
  </body>
</html>
