<!DOCTYPE html>
<html>
  <head>
    <title>Websocket P2M Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="1st Korea Node.js Conference ::: @nanhapark presentation one of playtools">
    <meta name="author" content="nanhapark <nanhap@gmail.com>">
    <meta name="keywords" content="node.js,javascript,ECMAScript,Mobile,HTML5,Mobile,Web,nanhapark">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/docs.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico?20121120" type="image/x-icon">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active">
            <a href="/">#PlayNode</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="jumbotron masthead">
      <div class="container">
        <h1>PC to Mobile</h1>
        <p>passing url / telephone</p>
        <p><a href="javascript:(function(){var%20s%20=%20document.createElement('script');s.type='text/javascript';document.body.appendChild(s);s.src='http://nodeman.org/p2m.js?' + (+new Date());})();" class="btn btn-primary btn-large">socket p2m</a></p>
        <p>위의 버튼을 북마크바로 드래그앤 드롭하세요.<br>혹은 코드 Embed 도 가능합니다. 아래 참조</p>
        <p>Just drag this handy-dandy button onto your browser's Bookmarks Bar and you'll be ready to roll</p>
        <ul class="masthead-links">
          <li><a href="https://twitter.com/nanhapark" class="twitter-follow-button" data-show-count="true" data-lang="ko">@nanhapark 팔로우하기</a></li>
          <li><a href="https://twitter.com/intent/tweet?screen_name=nanhapark" class="twitter-mention-button" data-lang="ko" data-related="nanhapark">Tweet to @nanhapark</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="marketing">
        <h1>Introducing Service</h1>
        <ol>
          <li>PC 로 보고 있는 화면을 Mobile 로 보고 싶을때 (브라우저 주소의 길이가 너무 길때)
          <li>"114" 전화번호를 드래그하고 바로 전화걸고 싶을때 (북마클릿에서만 가능)
        </ol>
        <div class="thumbnails"><img src="/images/embed_code2.png"></div>

        <h1>Chrome to Mobile 과 다른점</h1>
        <ul>
          <li>비설치형
          <li>HTML 에 embed code 사용가능
          <li>Websocket 를 사용한 HTML 에 New Feature 제공능력
          <li>QRCode 촬영 후 원하는 웹사이트 주소로 이동시킬 수 있다.
        </ul>

        <h1>Websocket 사용이유</h1>
        <ul>
          <li>레이어로 띄운 QRCODE 를 카메라로 찍은 후, HTML 에 효과를 주고 싶었다.
          <ol>
            <li>현재 QRCode 가 360도 회전하는 효과와, "참 잘했어요" 이미지가 5초동안 오버랩 되어지는 효과를 더했다.
            <li>많은 아이디어를 생각할 수 있다.
          </ol>
          <li>찍고 끝나는 것이 아닌, 삽입된 웹페이지에 New Feature 를 적용할 수 있다. <span class="label label-important">callback</span> 을 설정할 수 있어서, QRCode 촬영 후 원하는 액션을 취할 수 있다.
        </ul>

        <div class="thumbnails"><img src="/images/demo_good.png"></div>

        <h1>Events</h1>
        <p>이 서비스를 사용하여 기존과 다른 <span class="label label-important">웹 프로모션</span>을 할 수 있을 것이다. 예를 들면 아래와 같다.</p>
        <ol>
          <li>QRCode 를 촬영 후, QRCode 위에 나타나는 이미지를 캡춰하여 보내주세요.
          <li>Custom Callback 기능을 활용하여 (아래참조), QRCode 촬영 후 나타나는 무언가를 클릭하세요
          <li>etc...
        </ol>
      </div>
      <div class="embed">
        <h1>Embed Code</h1>
        <p>간단한 Markup 을 사용하여, 북마클릿을 등록하지 않아도 사용가능합니다.</p>
        <div class="row">
          <div class="span5">
            <h3>Example code</h3>
            <textarea onclick="this.select()" style="height: 700px"><!-- Websocket P2M Service http://nodeman.org -->
<style>
  #socket_nodeman_qrcode {
    position: relative;
    width: 120px;
    height: 120px;
  }
</style>
<div id="socket_nodeman_qrcode"></div>
<script src="http://socket.nodeman.org/p2m.js"></script>
<script>
  // option feature
  // qrcode 촬영 후 websocket 에 의해
  // 등록한 callback 을 실행할 수 있다.
  window.nodeman.callback = function() {
    console.log('callback');
  };

  //
  // QRCode 에 담겨진 웹사이트 주소는 기본적으로 현재 브라우져 주소인데
  // 이를 변경하고자 할 경우 아래와 같이 선언하면 됨
  //
  window.nodeman.url = 'http://nodeqa.com';

  //
  // QRCode 촬영 후, Websocket 에 의해
  // Close Image 가 QRCode 위에 보여지게 되는데
  // 원하는 이미지로 설정할 수 있다.
  //
  window.nodeman.close_img = 'http://nodeman.org/images/thkim.png';

  //
  // qrcode 를 클릭하면 기본적으로 삭제된다.
  // 클릭이벤트를 제어하고 싶으면 아래와 같이 선언할 수 있다.
  //
  window.nodeman.onclick = function() {
    console.log('invoke click event');
  };

  //
  // 기본적으로 10초 뒤에 close image 가 사라지는데
  // 이 값을 설정할 수 있다.
  //
  window.nodeman.close_timeout = 15 * 1000;
</script>
<!-- Websocket P2M Service End --></textarea>

          </div>
          <div class="span7">
            <h3>howto play</h3>
            <ol class="tutorial">
              <li>QRCode 가 삽입될 HTML Element 를 삽입하고, id Attribute 값을 <span class="label label-important">socket_nodeman_qrcode</span> 으로 지정합니다. id 값이 상이할 시 북마클릿 서비스와 같이 QRCode가 레이어로 보여집니다.</li>
              <li>해당 엘리먼트에 대한 <span class="label label-important">CSS</span> 를 선언합니다.</li>
              <li>마지막으로 프로세스 코드 <span class="label label-important">&lt;script src="http://socket.nodeman.org/p2m.js">&lt;/script></span> 를 삽입합니다.</li>
            </ol>
          </div>
          <div class="thumbnails"><img src="/images/demo_good3.png"></div>
        </div>
        <h1>Demo</h1>
        <div class="thumbnails"><img src="/images/embed_code3.png"></div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Author: <a href="http:/twitter.com/nanhapark">@nanhapark</a>, <a href="http://about.me/nanha">about me</a></p>
        <p>Node.js Q&A <a href="http://nodeqa.com">http://nodeqa.com</a></p>
        <p>KIN Programming</p>
      </div>
    </footer>

    <!-- Websocket P2M Service http://nodeman.org -->
    <style>
      #socket_nodeman_qrcode {
        position: absolute;
        top: 60px;
        right: 0;
        width: 120px;
        height: 120px;
      }
    </style>
    <div id="socket_nodeman_qrcode"></div>
    <script src="http://socket.nodeman.org/p2m.js"></script>
    <script>
      window.nodeman.callback = function() {
        console.log('qrcode callback');
      };
      //window.nodeman.url = 'http://nodeqa.com';
      window.nodeman.close_img = 'http://nodeman.org/images/thkim.png';
      window.nodeman.onclick = function() {
        console.log('invoke click event');
      };
      window.nodeman.close_timeout = 15 * 1000;
    </script>
    <!-- Websocket P2M Service End -->

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37569422-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
