<!DOCTYPE html>
<html>
  <head>
    <title>Websocket Navigator Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="1st Korea Node.js Conference ::: @nanhapark presentation one of playtools">
    <meta name="author" content="nanhapark <nanhap@gmail.com>">
    <meta name="keywords" content="node.js,javascript,ECMAScript,Mobile,HTML5,Mobile,Web,nanhapark">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/docs.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico?20121120" type="image/x-icon">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a href="http://nodeconf.kr" target="_blank" class="pull-right"><img src="/images/playnodelogo.png" class="playnode"></a>
        <ul class="nav">
          <li class="active">
            <a href="/">1st Korea Node.js Conference ::: #PlayNode</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="jumbotron masthead">
      <div class="container">
        <h1>Websocket Navigator Service</h1>
        <p>simple control. up down left right</p>
        <p><a href="javascript:(function(){var%20s%20=%20document.createElement('script');s.type='text/javascript';document.body.appendChild(s);s.src='http://socket.nodeman.org/navigator.js?' + (+new Date());})();" class="btn btn-primary btn-large">socket navigator</a></p>
        <p>위의 버튼을 북마크바로 드래그앤 드롭하세요.<br>혹은 코드 Embed 도 가능합니다. 아래 참조</p>
        <p>Just drag this handy-dandy button onto your browser's Bookmarks Bar and you'll be ready to roll</p>
        <ul class="masthead-links">
          <li><a href="https://twitter.com/nanhapark" class="twitter-follow-button" data-show-count="true" data-lang="ko">@nanhapark 팔로우하기</a></li>
          <li><a href="https://twitter.com/intent/tweet?screen_name=nanhapark" class="twitter-mention-button" data-lang="ko" data-related="nanhapark">Tweet to @nanhapark</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="marketing">
        <h1>Introducing Service</h1>
        <ol>
          <li><a href="http://lab.hakim.se/reveal-js" target="_blank">reveal.js</a>, <a href="http://bartaz.github.com/impress.js" target="_blank">impress.js</a> 등과 같은 <span class="label label-warning">HTML5 PPT Framework</span> 를 사용하여  프리젠테이션을 준비한 후, 발표시에 <span class="label label-important">포인터</span>가 없다면???
        </ol>
        <div class="row-fluid">
          <div class="span4">
            <h3>If Servie have Keyboard-API, It's OK !</h3>
            <a href="http://lab.hakim.se/reveal-js" target="_blank" class="thumbnails"><img src="/images/revealjs.png" width="400"></a>
            <a href="http://bartaz.github.com/impress.js" target="_blank" class="thumbnails"><img src="/images/impressjs.png" width="400"></a>
            <a href="http://imakewebthings.com/deck.js" target="_blank" class="thumbnails"><img src="/images/deskjs.png" width="400"></a>
            <a href="http://www.turnjs.com" target="_blank" class="thumbnails"><img src="/images/turnjs.png" width="400"></a>
          </div>
          <div class="span4">
            <h3>First click a bookmarklet, Put your hand-phone, Take a <strong>QRCode</strong>!</h3>
            <a href="http://www.turnjs.com" target="_blank" class="thumbnails"><img src="/images/qrcode.png" width="400"></a>
            <a href="http://www.turnjs.com" target="_blank" class="thumbnails"><img src="/images/qrcoding.jpg" width="400"></a>
          </div>
          <div class="span4">
            <h3>You have controller page and support top-down left-right sensor</h3>
            <a class="thumbnails"><img src="/images/control.jpg" width="400"></a>
          </div>
        </div>
      </div>

      <hr class="soften">

      <div class="embed">
        <h1>Embed Code</h1>
        <p>간단한 Markup 을 사용하여, 북마클릿을 등록하지 않아도  사용가능합니다. 이것은 발표자표 배포할 때, 유용하게 사용할 수 있습니다.</p>
        <div class="row">
          <div class="span5">
            <h3>Example code</h3>
            <textarea onclick="this.select()"><!-- Websocket Navigator Service http://nodeman.org -->
<style>
  #socket_nodeman_qrcode {
    /*position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;*/
    width: 120px;
    height: 120px;
  }
</style>
<div id="socket_nodeman_qrcode"></div>
<script src="http://socket.nodeman.org/navigator.js"></script>
<!-- Websocket Navigator Service End --></textarea>

          </div>
          <div class="span7">
            <h3>howto play</h3>
            <ol class="tutorial">
              <li>QRCode 가 삽입될 HTML Element 를 삽입하고, id Attribute 값을 <span class="label label-important">socket_nodeman_qrcode</span> 으로 지정합니다. id 값이 상이할 시 북마클릿 서비스와 같이 QRCode가 레이어로 보여집니다.</li>
              <li>해당 엘리먼트에 대한 <span class="label label-important">CSS</span> 를 선언합니다.</li>
              <li>마지막으로 프로세스 코드 <span class="label label-important">&lt;script src="http://socket.nodeman.org/navigator.js">&lt;/script></span> 를 삽입합니다.</li>
            </ol>
          </div>
        </div>
        <div class="thumbnails"><img src="/images/embed_code.png"></div>
      </div>

      <hr class="soften">

      <h1><a name="website">Built with this service.</a></h1>
      <p class="marketing-byline"></p>
      <div class="row-fluid">
        <ul class="thumbnails example-sites">
          <li class="span3">
            <a href="http://lab.hakim.se/reveal-js" target="_blank"><img src="/images/revealjs.png" width="400"></a>
          </li>
          <li class="span3">
            <a href="http://bartaz.github.com/impress.js" target="_blank"><img src="/images/impressjs.png" width="400"></a>
          </li>
          <li class="span3">
            <a href="http://imakewebthings.com/deck.js" target="_blank"><img src="/images/deskjs.png" width="400"></a>
          </li>
          <li class="span3">
            <a href="http://www.turnjs.com" target="_blank"><img src="/images/turnjs.png" width="400"></a>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span3">
            <a href="http://www.20thingsilearned.com/en-US/home" target="_blank"><img src="/images/googlebook.png" width="400"></a>
          </li>
          <li class="span3">
            <a href="http://buildinternet.com/project/supersized/slideshow/3.2/slide.html" target="_blank"><img src="/images/slide.png" width="400"></a>
          </li>
        </ul>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Author: <a href="http:/twitter.com/nanhapark">@nanhapark</a>, <a href="http://about.me/nanha">about me</a></p>
        <p>Node.js Q&A <a href="http://nodeqa.com">http://nodeqa.com</a></p>
        <p>KIN Programming</p>
      </div>
    </footer>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37569422-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
