<!DOCTYPE html>
<html>
  <head>
    <title>Websocket Navigator Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="nanhapark <nanhap@gmail.com>">
    <meta name="keywords" content="node.js,javascript,ECMAScript,Mobile,HTML5,Mobile,Web,nanhapark">
  </head>
  <body>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script>
      var sessid = "<%=sessid%>", url = "<%=url%>", tel = "<%=tel%>";

      var h = 'http://socket.nodeman.org';
      var s = io.connect(h);
      
      s.on('connect', function() {
        //
        // remove qrcode
        //
        s.send(sessid + ':close');
      });

      setTimeout(function() {
        if (tel) {
          window.location.replace('tel:' + tel);
        } else if (url) {
          window.location.replace(decodeURIComponent(url).replace(/&amp;/g, '&'));
        } else {
          alert('not found url');
        }
      }, 1000);
    </script>
  </body>
</html>
