.top-container {
  text-align: center;
  margin-bottom: 10px;
}
.top-container a {
  width: 100px;
  padding: 30px;
}
.bottom-container {
  text-align: center;
  margin-top: 10px;
}
.bottom-container a {
  width: 100px;
  padding: 30px;
}
.middle-container a {
  width: 60px;
  padding: 30px;
}

h1 { font-size: 26px }
